doctype 5
html
  head
    title RAo and Iyer PRoduction
    script(type="text/javascript",src="/javascripts/jquery.js")
    script(type="text/javascript",src="/javascripts/jqueryvalidate.js")
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript",src="/javascripts/bootstrap.js")
    
  body
    block content
    script(type="text/javascript",src="/javascripts/modal_func.js") 