extends pagelayout 
block content
  
  .container
    .row-fluid
      #tobesettled.span30 #{toSettle}
    div.navbar.navbar-fixed-bottom  
      footer.footer  
        #buttonStrectch.span20
          p
            button#settle.btn.btn-danger.btn-lg(type="button",style="margin-left:300px;margin-bottom:5px;width:100%;") Settle Expenses
            button#home.btn.btn-success.btn-lg(style="margin-left:300px;margin-bottom:5px;width:100%;") Go To Home
  script(src="/javascripts/handleclick.js")
         