body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.dance {
	font-size: 20px;
	font-weight: bold;
	color:blue;
	animation: anime 2s;
}

@keyframes anime
{
	0%{color:blue;}
	100%{color:red;}

}